@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --app-font-family: "Figtree", ui-sans-serif, system-ui, sans-serif;
  --mantine-font-family: var(--app-font-family);
  --mantine-font-family-headings: var(--app-font-family);
}

@theme {
  --font-sans:
    var(--app-font-family), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@custom-variant dark (&:where([data-mantine-color-scheme="dark"], [data-mantine-color-scheme="dark"] *));

html[data-mantine-color-scheme="dark"] {
  --mantine-color-body: theme(--color-gray-950) !important;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  .markdown > * {
    all: revert;
  }
}
